body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	background-color: #444;
	color: #FFF;
	height: 10vh;
	left: 0;
	padding-left: 20px;
	position: fixed;
	right: 0;
	top: 0;
}

header h1, .header-actions {
	display: inline-block;
}

.header-actions {
	float: right;
}

div.container {
	padding: 0;
	width: auto;
}

.component-menu, .preview-box, .variables-editor {
	display: inline-block;
	float: left;
	height: 90vh;
	margin-top: 10vh;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
}

.component-menu {
	width: 20%;
}

.preview-box {
	width: 50%;
}

.variables-editor {
	width: 30%;
}