body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

.lexicon-customizer-header {
	align-items: center;
	background-color: #444;
	color: #FFF;
	display: flex;
	flex-direction: row;
	height: 10vh;
	justify-content: space-around;
	left: 0;
	padding-left: 20px;
	position: fixed;
	right: 0;
	top: 0;
}

.lexicon-customizer-header h1 {
	margin: 0;
}

.lexicon-customizer-actions {
	height: 90%;
}

.lexicon-customizer-actions .btn {
	border-radius: 0;
	border-width: 0 0 4px;
	height: 100%;
}

.lexicon-customizer-config-panel {
	background-color: #333;
	height: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 10vh;
	transition: height 200ms;
}

.lexicon-customizer-config-panel.open {
	height: 200px;
}

.lexicon-customizer-config-panel .btn {
	height: auto;
	width: 100%;
}

div.container {
	padding: 0;
	width: auto;
}

.component-menu, .preview-box, .variables-editor {
	display: inline-block;
	float: left;
	height: 90vh;
	margin-top: 10vh;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px;
}

.component-menu {
	width: 20%;
}

.preview-box {
	width: 50%;
}

.variables-editor {
	width: 30%;
}