<section>
	<div class="lexicon-preview-colors">
		<% ['gray-darker', 'gray-dark', 'gray', 'gray-light', 'gray-lighter', 'brand-primary', 'brand-success', 'brand-info', 'brand-warning', 'brand-danger'].forEach(function(color) { %>
			<div class="lexicon-preview-color-swatch <%= color %>">
				<h4>$<%= color %></h4>

				<div class="swatch"></div>
			</div>
		<% }); %>
	</div>
</section>