<section>
	<div class="container" style="background-color: #888; color: #FFF; height: 40px;">
		<span class="visible-xs-inline">xs</span>

		<span class="visible-sm-inline">sm</span>

		<span class="visible-md-inline">md</span>

		<span class="visible-lg-inline">lg</span>
	</div>
</section>