<section>
	<div class="lexicon-preview-media-query-breakpoints">
		<div class="media-query-xs"></div>

		<div class="media-query-sm"></div>

		<div class="media-query-md"></div>

		<div class="media-query-lg"></div>
	</div>
</section>
