<section class="lexicon-preview-modals row">
	<div class="col-md-12">
		<h4>Modal</h4>

		<div class="visible-xs"><div class="alert alert-info">You are seeing the mobile modal view, expand to see desktop view.</div></div>

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-labelledby="Close" class="btn btn-default close" data-dismiss="modal" role="button" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
						</svg>
					</button>

					<button class="btn btn-default modal-primary-action-button visible-xs" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-check" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M502.091 60.993c-9.909-9.91-25.962-9.91-35.843 0l-336.988 336.988-83.508-83.451c-9.881-9.909-25.962-9.909-35.843 0-9.909 9.909-9.909 25.962 0 35.843l98.257 98.257c2.608 2.608 5.679 4.433 8.924 5.679 4.028 2.464 8.403 4.115 12.952 4.115 6.49 0 12.981-2.464 17.936-7.418l354.112-354.141c9.909-9.909 9.909-25.962 0-35.871l0-0.001z"></path>
						</svg>
					</button>

					<h4 class="modal-title" id="lexLargeModalLabel">Modal Title</h4>
				</div>

				<div class="modal-body">
					<h4><a href="#1">Modal Body</a></h4>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary" type="button">Primary</button>
					<button class="btn btn-default" type="button">Alt</button>
					<button class="btn btn-link close-modal" data-dismiss="modal" type="button">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<h4>Small modal</h4>

		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-labelledby="Close" class="btn btn-default close" data-dismiss="modal" role="button" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
						</svg>
					</button>

					<button class="btn btn-default modal-primary-action-button visible-xs" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-check" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M502.091 60.993c-9.909-9.91-25.962-9.91-35.843 0l-336.988 336.988-83.508-83.451c-9.881-9.909-25.962-9.909-35.843 0-9.909 9.909-9.909 25.962 0 35.843l98.257 98.257c2.608 2.608 5.679 4.433 8.924 5.679 4.028 2.464 8.403 4.115 12.952 4.115 6.49 0 12.981-2.464 17.936-7.418l354.112-354.141c9.909-9.909 9.909-25.962 0-35.871l0-0.001z"></path>
						</svg>
					</button>

					<h4 class="modal-title" id="lexSmallModalLabel">Modal Title</h4>
				</div>

				<div class="modal-body">
					<h4>Modal Body</h4>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary" type="button">Primary</button>
					<button class="btn btn-link close-modal" data-dismiss="modal" type="button">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<h4>Large modal</h4>

		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-labelledby="Close" class="btn btn-default close" data-dismiss="modal" role="button" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
						</svg>
					</button>

					<button class="btn btn-default modal-primary-action-button visible-xs" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-check" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M502.091 60.993c-9.909-9.91-25.962-9.91-35.843 0l-336.988 336.988-83.508-83.451c-9.881-9.909-25.962-9.909-35.843 0-9.909 9.909-9.909 25.962 0 35.843l98.257 98.257c2.608 2.608 5.679 4.433 8.924 5.679 4.028 2.464 8.403 4.115 12.952 4.115 6.49 0 12.981-2.464 17.936-7.418l354.112-354.141c9.909-9.909 9.909-25.962 0-35.871l0-0.001z"></path>
						</svg>
					</button>

					<h4 class="modal-title" id="lexLargeModalLabel">Modal Title</h4>
				</div>

				<div class="modal-body">
					<h4><a href="#1">Modal Body</a></h4>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary" type="button">Primary</button>
					<button class="btn btn-default" type="button">Alt</button>
					<button class="btn btn-link close-modal" data-dismiss="modal" type="button">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<h4>Inverse modal</h4>

		<div class="modal-dialog modal-inverse modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-labelledby="Close" class="btn btn-default close" data-dismiss="modal" role="button" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-times" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
						</svg>
					</button>

					<button class="btn btn-default modal-primary-action-button visible-xs" type="button">
						<svg aria-hidden="true" class="lexicon-icon lexicon-icon-check" viewBox="0 0 512 512">
							<path class="lexicon-icon-outline" d="M502.091 60.993c-9.909-9.91-25.962-9.91-35.843 0l-336.988 336.988-83.508-83.451c-9.881-9.909-25.962-9.909-35.843 0-9.909 9.909-9.909 25.962 0 35.843l98.257 98.257c2.608 2.608 5.679 4.433 8.924 5.679 4.028 2.464 8.403 4.115 12.952 4.115 6.49 0 12.981-2.464 17.936-7.418l354.112-354.141c9.909-9.909 9.909-25.962 0-35.871l0-0.001z"></path>
						</svg>
					</button>

					<h4 class="modal-title" id="lexLargeModalLabel">Modal Title</h4>
				</div>

				<div class="modal-body">
					<h4><a href="#1">Modal Body</a></h4>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary" type="button">Primary</button>
					<button class="btn btn-default" type="button">Alt</button>
					<button class="btn btn-link close-modal" data-dismiss="modal" type="button">Close</button>
				</div>
			</div>
		</div>
	</div>
</section>