<section class="row">
	<div class="col-md-12">
		Lorem ipsum dolor sit amet, <a href="javascript:;">consectetur</a> adipiscing elit. Etiam <a href="javascript:;">lacinia dui a dolor varius tempor</a>. Curabitur fringilla, velit et eleifend tempus, ex augue lacinia enim, mattis elementum ex dolor ut magna. Praesent placerat vestibulum neque, at pulvinar risus condimentum sed. Nulla non varius erat. <a href="javascript:;">Nulla vehicula</a> lorem vel molestie hendrerit.
	</div>
</section>