<section class="row">
	<% ['sidebar-default', 'sidebar-inverse'].forEach(function(className) { %>
		<div class="col-md-12">
			<h4><%= className %></h4>

			<div class="sidebar <%= className %>">
				<div class="sidebar-header">
					<ul class="sidebar-header-actions">
						<li>
							<a class="" href="#1">
								<svg class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
									<path class="lexicon-icon-body" fill="none" d="M508.753 190.647c-3.247-9.265-11.983-15.493-21.802-15.493h-150.106l-59.203-158.208c-3.378-9.027-12.010-14.992-21.644-14.992s-18.264 5.965-21.617 14.992l-59.203 158.208h-150.131c-9.819 0-18.555 6.202-21.802 15.493-3.247 9.265-0.264 19.558 7.417 25.682l120.966 96.234-55.534 162.88c-3.114 9.132-0.212 19.268 7.285 25.365 7.47 6.097 17.975 6.889 26.316 1.979l146.173-86.204 150.317 90.163c3.668 2.217 7.786 3.299 11.877 3.299 0.026 0 0.079 0 0.132 0 12.722-0.422 23.2-10.32 23.2-23.095 0-3.853-0.924-7.496-2.613-10.69l-58.252-163.83 120.807-96.103c7.68-6.097 10.663-16.417 7.417-25.682z"></path>
									<path class="lexicon-icon-outline" d="M418.1,510.1c-4.1,0-8.2-1.1-11.9-3.3l-150.3-90.2l-146.2,86.2c-8.3,4.9-18.8,4.1-26.3-2s-10.4-16.2-7.3-25.4l55.5-162.9l-121-96.2C3,210.2,0,199.9,3.3,190.6s12-15.5,21.8-15.5h150.1l59.2-158.2c3.4-9,12-15,21.6-15s18.2,6,21.6,15l59.2,158.2H487c9.8,0,18.6,6.2,21.8,15.5c3.2,9.3,0.3,19.6-7.4,25.7l-120.8,96.1l58.3,163.9c1.7,3.2,2.6,6.8,2.6,10.7c0,12.7-10.3,23.1-23.1,23.1C418.2,510.1,418.1,510.1,418.1,510.1L418.1,510.1z M256,366.6c4.1,0,8.2,1.1,11.9,3.3L374.7,434l-43.3-121.7c-3.3-9.3-0.3-19.7,7.4-25.8l82-65.2h-100c-9.6,0-18.3-6-21.6-15L256,90.9l-43.2,115.4c-3.4,9-12,15-21.6,15h-100l82,65.2c7.6,6.1,10.6,16.3,7.5,25.5L140,431.3l104.3-61.5C247.9,367.7,251.9,366.6,256,366.6L256,366.6z"></path>
								</svg>
							</a>
						</li>
						<li>
							<div class="dropdown">
								<a class="dropdown-toggle icon-monospaced" data-toggle="dropdown" href="#1">
									<svg aria-hidden="true" class="lexicon-icon" viewBox="0 0 512 512">
										<path class="lexicon-icon-outline" d="M319 255.5c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
										<path class="lexicon-icon-outline" d="M319 448c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
										<path class="lexicon-icon-outline" d="M319 64c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-35.346 28.654-64 64-64s64 28.654 64 64z"></path>
									</svg>
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="#1">Download</a></li>
									<li><a href="#1">Edit</a></li>
									<li><a href="#1">Move</a></li>
									<li><a href="#1">Checkout</a></li>
									<li><a href="#1">Permissions</a></li>
									<li><a href="#1">Move to Recycle Bin</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a class="" href="#1">
								<svg class="icon-monospaced lexicon-icon" viewBox="0 0 512 512">
									<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
								</svg>
							</a>
						</li>
					</ul>

					<h4>Image1.jpg</h4>

					<h5>Approved</h5>
				</div>
				<nav class="navbar navbar-default navbar-no-collapse collapse-basic-search">
					<ul class="nav navbar-nav">
						<li class="active dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Details <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Details</a></li>
								<li><a href="#">Versions</a></li>
								<li><a href="#">Comments (17)</a></li>
							</ul>
						</li>
					</ul>
				</nav>

				<div class="sidebar-body">
					<div class="sidebar-panel">
						<div class="icon-monospaced">PDF</div>
					</div>

					<dl>
						<dt class="h5">Size</dt>
						<dd>136 KB</dd>
						<dt class="h5">Dimensions</dt>
						<dd>1024 x 768</dd>
						<dt class="h5">Created</dt>
						<dd>By <a href="#1">Helen Smith</a> on Feb 15 2015, 10:15am</dd>
						<dt class="h5">Last Modification</dt>
						<dd>By <a href="#1">Helen Smith</a> on Feb 15 2015, 10:15am</dd>
						<dt class="h5">Tags</dt>
						<dd>
							<p>
								<span class="badge badge-primary badge-sm">
									History
									<a class="" href="#1">
										<svg class="lexicon-icon" viewBox="0 0 512 512">
											<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
										</svg>
									</a>
								</span>
								<span class="badge badge-primary badge-sm">
									Flat
									<a class="" href="#1">
										<svg class="lexicon-icon" viewBox="0 0 512 512">
											<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
										</svg>
									</a>
								</span>
								<span class="badge badge-primary badge-sm">
									Default
									<a class="" href="#1">
										<svg class="lexicon-icon" viewBox="0 0 512 512">
											<path class="lexicon-icon-outline" d="M295.781 256l205.205-205.205c10.998-10.998 10.998-28.814 0-39.781-10.998-10.998-28.815-10.998-39.781 0l-205.205 205.205-205.205-205.238c-10.966-10.998-28.814-10.998-39.781 0-10.998 10.998-10.998 28.814 0 39.781l205.205 205.238-205.205 205.205c-10.998 10.998-10.998 28.815 0 39.781 5.467 5.531 12.671 8.265 19.874 8.265s14.407-2.734 19.907-8.233l205.205-205.238 205.205 205.205c5.5 5.5 12.703 8.233 19.906 8.233s14.407-2.734 19.906-8.233c10.998-10.998 10.998-28.815 0-39.781l-205.238-205.205z"></path>
										</svg>
									</a>
								</span>
							</p>

							<a class="btn btn-default btn-sm" href="#" style="margin-top: 20px;">Add new tag</a>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	<% }); %>
</section>