<section class="row">
	<div class="col-md-12">
		<table class="table table-autofit table-list">
			<thead>
				<tr>
					<th></th>
					<th class="hidden-sm hidden-xs">ID</th>
					<th class="table-cell-content">
						<span class="truncate-text" title="Description">Title</span>
					</th>
					<th class="hidden-sm hidden-xs">Status</th>
					<th class="hidden-sm hidden-xs">Modified Date</th>
					<th class="hidden-sm hidden-xs">Display Date</th>
					<th>Author</th>
					<th class="hidden-sm hidden-xs">Type</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr class="">
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
							</label>
						</div>
					</td>
					<td class="hidden-sm hidden-xs">21146</td>
					<td class="table-cell-content">
						<span class="truncate-text" title="Wings eu, pumpkin spice robusta, kopi-luwak mocha caffeine froth grounds.">Wings eu, pumpkin spice robusta, kopi-luwak mocha caffeine froth grounds.</span>
					</td>
					<td class="hidden-sm hidden-xs">--</td>
					<td class="hidden-sm hidden-xs">2 Hours Ago</td>
					<td class="hidden-sm hidden-xs">--</td>
					<td>Stanley Nelson</td>
					<td class="hidden-sm hidden-xs">Folder</td>
					<td>
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#1" aria-expanded="false">
								<svg class="icon-monospaced lexicon-icon">
									<use xlink:href="<%= iconSpritePath %>#ellipsis-v" />
								</svg>
							</a>
							<ul class="dropdown-menu dropdown-menu-left-side">
								<li><a href="#1">Download</a></li>
								<li><a href="#1">Edit</a></li>
								<li><a href="#1">Move</a></li>
								<li><a href="#1">Checkout</a></li>
								<li><a href="#1">Permissions</a></li>
								<li><a href="#1">Move to Recycle Bin</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr class="active">
					<td>
						<div class="checkbox">
							<label>
								<input checked="" type="checkbox" value="">
							</label>
						</div>
					</td>
					<td class="hidden-sm hidden-xs">
						21148
					</td>
					<td class="table-cell-content">
						<span class="truncate-text" title="Frappuccino medium americano">Frappuccino medium americano</span>
					</td>
					<td class="hidden-sm hidden-xs">--</td>
					<td class="hidden-sm hidden-xs">2 Hours Ago</td>
					<td class="hidden-sm hidden-xs">--</td>
					<td>Stanley Nelson</td>
					<td class="hidden-sm hidden-xs">Folder</td>
					<td>
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
								<svg class="icon-monospaced lexicon-icon">
									<use xlink:href="<%= iconSpritePath %>#ellipsis-v" />
								</svg>
							</a>
							<ul class="dropdown-menu dropdown-menu-left-side">
								<li><a href="#1">Download</a></li>
								<li><a href="#1">Edit</a></li>
								<li><a href="#1">Move</a></li>
								<li><a href="#1">Checkout</a></li>
								<li><a href="#1">Permissions</a></li>
								<li><a href="#1">Move to Recycle Bin</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
							</label>
						</div>
					</td>
					<td class="hidden-sm hidden-xs">21149</td>
					<td class="table-cell-content">
						<span class="truncate-text" title="Cultivar extra">Cultivar extra</span>
					</td>
					<td class="hidden-sm hidden-xs">--</td>
					<td class="hidden-sm hidden-xs">2 Hours Ago</td>
					<td class="hidden-sm hidden-xs">--</td>
					<td>Stanley Nelson</td>
					<td class="hidden-sm hidden-xs">Folder</td>
					<td>
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
								<svg class="icon-monospaced lexicon-icon">
									<use xlink:href="<%= iconSpritePath %>#ellipsis-v" />
								</svg>
							</a>
							<ul class="dropdown-menu dropdown-menu-left-side">
								<li><a href="#1">Download</a></li>
								<li><a href="#1">Edit</a></li>
								<li><a href="#1">Move</a></li>
								<li><a href="#1">Checkout</a></li>
								<li><a href="#1">Permissions</a></li>
								<li><a href="#1">Move to Recycle Bin</a></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
							</label>
						</div>
					</td>
					<td class="hidden-sm hidden-xs">21150</td>
					<td class="table-cell-content">
						<span class="truncate-text" title="Cultivar extra">Cultivar extra</span>
					</td>
					<td class="hidden-sm hidden-xs">--</td>
					<td class="hidden-sm hidden-xs">2 Hours Ago</td>
					<td class="hidden-sm hidden-xs">--</td>
					<td>Stanley Nelson</td>
					<td class="hidden-sm hidden-xs">Folder</td>
					<td>
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#1">
								<svg class="icon-monospaced lexicon-icon">
									<use xlink:href="<%= iconSpritePath %>#ellipsis-v" />
								</svg>
							</a>
							<ul class="dropdown-menu dropdown-menu-left-side">
								<li><a href="#1">Download</a></li>
								<li><a href="#1">Edit</a></li>
								<li><a href="#1">Move</a></li>
								<li><a href="#1">Checkout</a></li>
								<li><a href="#1">Permissions</a></li>
								<li><a href="#1">Move to Recycle Bin</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>