/* Color picker */

.color-picker-trigger {
	background: #EEE;
	bottom: 4px;
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: 0;
	width: 30px;
}

.color-picker-trigger-checkerboard, .color-picker-trigger-preview {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.color-picker-trigger-preview {
	z-index: 1;
}

.color-picker-trigger-checkerboard {
	background-color: #EFEFEF;
	z-index: 0;

	&:after, &:before {
		background-color: #DDD;
		content: '';
		height: 12px;
		position: absolute;
		width: 12px;
	}

	&:after {
		left: 0;
		top: 0;
	}

	&:before {
		bottom: 0;
		right: 0;
	}
}
