/* Config panel */

$config-panel-bg: #1F282F;

.lexicon-customizer-config-panel {
	background-color: $config-panel-bg;
	bottom: 0;
	box-shadow: 0 0 5px #333;
	overflow: hidden;
	padding: 20px;
	position: fixed;
	right: -255px;
	top: 50px;
	transition: right 200ms;
	width: 250px;

	&.open {
		right: 0;
	}

	.btn {
		color: #555;
		height: auto;
		margin-top: 10px;
		position: relative;
		width: 100%;

		.lexicon-icon-wrapper {
			background-color: #CCC;
			bottom: 0;
			left: 0;
			line-height: initial;
			position: absolute;
			top: 0;
			width: 30px;

			svg {
				fill: #555;
				height: 30px;
			}
		}
	}

	.btn-icon {
		padding-left: 30px;
	}

	.radio {
		text-align: left;
	}
}

.config-panel-group {
	margin-bottom: 20px;

	.config-panel-group-label {
		color: #888;
		display: block;
		position: relative;
		text-align: center;

		&:after {
			background-color: #888;
			content: '';
			height: 1px;
			left: 0;
			position: absolute;
			right: 0;
			top: 50%;
		}

		.config-panel-group-label-text {
			background-color: $config-panel-bg;
			padding: 0px 8px;
			position: relative;
			z-index: 10;
		}
	}
}
