/* General */

body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
	color: $brand-primary;
	transition: color 300ms;

	&:active, &:focus, &:hover {
		color: darken($brand-primary, 20%);
		text-decoration: none;
	}
}
