/* General */

body, html {
	padding: 0;
	margin: 0;
}

body {
	color: #555;
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
	color: $brand-primary;
	transition: color 300ms;

	&:active, &:focus, &:hover {
		color: darken($brand-primary, 20%);
		text-decoration: none;
	}

	.lexicon-icon-wrapper svg {
		fill: #555;
		transition: fill 300ms;
	}

	&:hover {
		.lexicon-icon-wrapper svg {
			fill: $brand-primary;
		}
	}
}

input.form-control {
	&, &:focus {
		border-color: $brand-gray;
		border-radius: 0;
		border-width: 0 0 4px;
		box-shadow: none;
	}

	&:focus {
		border-color: $brand-primary;
	}
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	margin: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: $brand-gray;
	border-radius: 10px;
}