/* Lexicon customizer */

.lexicon-customizer-header {
	background-color: #1F282F;
	box-shadow: 0 0 4px #222;
	border-bottom: 4px solid $brand-primary;
	color: #FFF;
	height: 50px;
	left: 0;
	padding: 8px 0 0 20px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	transition: border-color 300ms;
	z-index: 2;
	-webkit-app-region: drag;

	.lexicon-customizer-header-title {
		font-size: 20px;
		font-weight: 100;
		text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	}
}

.lexicon-customizer[data-group="bootstrap"] .lexicon-customizer-header {
	border-color: $brand-secondary;
}

.lexicon-customizer-actions {
	float: right;
	margin-right: 20px;

	.btn {
		-webkit-app-region: no-drag;
		border-radius: 0;
		border-width: 0 0 4px;
		height: 100%;
		outline: none;

		&:active {
			border-color: #1F282F;
			border-width: 4px 0 0;
			outline: none;
		}
	}
}

.preview-box, .side-menu, .variables-editor {
	display: inline-block;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

.side-menu, .variables-editor {
	height: 100%;
	padding: 12px;
}

.preview-box {
	bottom: 0;
	left: 215px;
	position: absolute;
	right: 320px;
	top: 50px;
}

.side-menu {
	width: 215px;
}

.variables-editor {
	float: right;
	width: 320px;
}

.has-popout-preview {
	.side-menu {
		width: 30%;
	}

	.variables-editor {
		width: 70%;
	}
}

div.container {
	padding: 0;
	width: auto;
}

.lexicon-customizer-content {
	height: 100vh;
	overflow: hidden;
	padding-top: 50px;
}
