/* Side menu */

.has-popout-preview {
	.side-menu {
		width: 30%;
	}
}

.side-menu-filter {
	position: relative;

	input {
		padding-right: 24px;
	}

	.lexicon-icon-wrapper {
		bottom: 8px;
		position: absolute;
		right: 0;

		svg {
			fill: #555;
		}
	}
}

.side-menu-list {
	list-style: none;
	padding: 0;
}

.side-menu-list-item {
	border-radius: 2px;
	margin: 4px 0;
	padding: 2px 8px;
	transition: background-color 400ms, box-shadow 400ms;

	&.selected {
		background-color: $brand-primary;
	}

	&.selected a {
		color: #FFF;
	}
}

.side-menu-group[data-id="bootstrap"] {
	a {
		color: $brand-secondary;

		&:active, &:focus, &:hover {
			color: darken($brand-secondary, 20%);
		}
	}

	.side-menu-list-item.selected {
		background-color: $brand-secondary;

		a {
			color: #FFF;
		}
	}
}
