/* Spinner */

.spinner {
	font-size: 10px;
	height: 80px;
	margin: 40px auto;
	text-align: center;
	width: 80px;
}

.spinner > div {
	background-color: $brand-primary;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	display: inline-block;
	height: 100%;
	margin: 0 1px;
	width: 10px;

	-webkit-animation: sk-stretchdelay 600ms infinite ease-in-out;
	animation: sk-stretchdelay 600ms infinite ease-in-out;
}

.spinner.inverted > div {
	background-color: #EFEFEF;
}

.spinner .rect2 {
	-webkit-animation-delay: -500ms;
	animation-delay: -500ms;
}

.spinner .rect3 {
	-webkit-animation-delay: -400ms;
	animation-delay: -400ms;
}

.spinner .rect4 {
	-webkit-animation-delay: -300ms;
	animation-delay: -300ms;
}

.spinner .rect5 {
	-webkit-animation-delay: -200ms;
	animation-delay: -200ms;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4)
	}
	20% {
		-webkit-transform: scaleY(1.0)
	}
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	margin: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #D0D0D0;
	border-radius: 10px;
}
