.lexicon-customizer-preview-box {
	overflow: auto;
	overflow-x: hidden;
	padding: 20px;
}

@mixin color-swatch($name, $color) {
	.#{$name} {
		color: $color;

		.swatch {
			background-color: $color;
		}
	}
}

.lexicon-preview-colors {
	@include color-swatch("brand-danger", $brand-danger);
	@include color-swatch("brand-info", $brand-info);
	@include color-swatch("brand-primary", $brand-primary);
	@include color-swatch("brand-success", $brand-success);
	@include color-swatch("brand-warning", $brand-warning);
	@include color-swatch("gray", $gray);
	@include color-swatch("gray-base", $gray-base);
	@include color-swatch("gray-dark", $gray-dark);
	@include color-swatch("gray-darker", $gray-darker);
	@include color-swatch("gray-light", $gray-light);
	@include color-swatch("gray-lighter", $gray-lighter);

	.lexicon-preview-color-swatch {
		.swatch {
			display: inline-block;
			height: 30px;
			width: 100px;
		}
	}
}

.lexicon-preview-modals {
	.modal-dialog {
		position: static;
	}
}

.lexicon-preview-popovers {
	.popover {
		display: inline-block;
		margin: 20px;
		position: relative;
	}
}

.lexicon-customizer-example {
	margin-bottom: 10px;
	position: relative;
}

.popover-example .popover {
	display: block;
	margin: 20px;
	position: relative;
}

.show-grid [class^=col-] {
	background-color: rgba(55, 145, 197, 0.15);
	border: 1px solid rgba(86, 61, 124, 0.2);
	padding-bottom: 10px;
	padding-top: 10px;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	margin: 0;
}

::-webkit-scrollbar-thumb {
	background-color: #E4E4E4;
	border-radius: 0;
}
