@import "components/variables";

@import "components/general";

@import "components/preview_box";
@import "components/spinner";

.preview-box {
	position: relative;
	width: 100%;
}

#webview {
	height: 100vh;
}
