body, html {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

.lexicon-customizer-header {
	align-items: center;
	background-color: #444;
	background: -webkit-linear-gradient(left, rgba(87,87,87,1) 0%, rgba(61,61,61,1) 100%);
	box-shadow: 0 0 4px #222;
	border-bottom: 4px solid #5BBFDC;
	color: #FFF;
	display: flex;
	flex-direction: row;
	height: 70px;
	justify-content: space-between;
	left: 0;
	padding: 8px 0 0 20px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
	-webkit-app-region: drag;

	h1 {
		margin: 0;
		text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	}
}

.lexicon-customizer-actions {
	margin-right: 20px;

	.btn {
		border-radius: 0;
		border-width: 0 0 4px;
		height: 100%;
		-webkit-app-region: no-drag;
	}
}

.config-panel-toggle-btn {
	border-radius: 2px;
	padding: 14px;

	&:hover {
		background-color: #222;
	}

	img {
		height: 34px;
	}
}

.lexicon-customizer-config-panel {
	background-color: #333;
	bottom: 0;
	box-shadow: 0 0 5px #333;
	overflow: hidden;
	padding: 20px;
	position: fixed;
	right: -255px;
	top: 70px;
	transition: right 200ms;
	width: 250px;

	&.open {
		right: 0;
	}

	.btn {
		height: auto;
		margin-top: 10px;
		width: 100%;
	}
}

div.container {
	padding: 0;
	width: auto;
}

.lexicon-customizer-content {
	height: 100vh;
	overflow: hidden;
	padding-top: 70px;
}

.side-menu, .preview-box, .variables-editor {
	display: inline-block;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

.side-menu, .variables-editor {
	padding: 20px;
}

.side-menu {
	width: 20%;
}

.side-menu-list {
	list-style: none;
	padding: 0;
}

.side-menu-list-item {
	padding: 2px 8px;
	transition: background-color 400ms, box-shadow 400ms;

	&.selected {
		background-color: #5BBFDC;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	}

	a {
		color: #5BBFDC;
	}

	&.selected a {
		color: #FFF;
	}
}

.preview-box {
	width: 50%;
}

.preview-box-dev-tools-btn {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	border: 2px solid;
	bottom: 0;
	margin: 10px 30px 10px;
	padding: 2px 4px;
	position: absolute;
	right: 0;

	&:hover {
		text-decoration: none;
	}
}

.variables-editor {
	width: 30%;
}

.variables-editor input {
	&, &:focus {
		border-radius: 0;
		border-width: 0 0 4px;
		box-shadow: none;
	}

	&:focus {
		border-color: #5BBFDC;
	}
}

.file-dropper-hover-mask {
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	display: flex;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	span {
		color: #FFF;
		margin: auto;
		width: 200px;
	}
}

.react-autosuggest__container {
	position: relative;
}

.react-autosuggest__suggestions-container {
	background-color: #5BBFDC;
	color: #FFF;
	left: 0;
	list-style: none;
	padding: 0;
	position: absolute;
	right: 0;
	z-index: 1;
}

.react-autosuggest__suggestion {
	padding: 4px 8px;
	color: #FFF;

	a {
		&, &:active, &:focus, &:hover {
			color: #FFF;
			text-decoration: none;
		}
	}
}

.react-autosuggest__suggestion--focused {
	background-color: #7FCEE4;
}

.variable-input {
	position: relative;
}

.color-picker-trigger {
	background: #EEE;
	cursor: pointer;
	height: 24px;
	position: absolute;
	right: 0;
	top: 31px;
	width: 24px;
}

.color-picker-overlay {
	background-color: #FFF;
	margin-top: 10px;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 1;
}
