<%- include("../partials/header.ejs") %>
	<section>
		<div class="row show-grid">
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
			<div class="col-xs-1">.col-xs-1</div>
		</div>
		<div class="row show-grid">
			<div class="col-xs-8">.col-xs-8</div>
			<div class="col-xs-4">.col-xs-4</div>
		</div>
		<div class="row show-grid">
			<div class="col-xs-4">.col-xs-4</div>
			<div class="col-xs-4">.col-xs-4</div>
			<div class="col-xs-4">.col-xs-4</div>
		</div>
		<div class="row show-grid">
			<div class="col-xs-6">.col-xs-6</div>
			<div class="col-xs-6">.col-xs-6</div>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>