<%- include("../partials/header.ejs") %>
	<section class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h1>Lexicon Customizer</h1>

				<p>Made by Liferay</p>

				<a href="javascript:;" class="btn btn-primary btn-lg">
					Click me!
				</a>
			</div>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>