<%- include("../partials/header.ejs") %>
	<section class="lexicon-preview-popovers row">
		<div class="col-xs-6">
			<div class="popover top">
				<div class="arrow"></div>
				<h3 class="popover-title">Popover top</h3>
				<div class="popover-content">
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="popover right">
				<div class="arrow"></div>
				<h3 class="popover-title">Popover right</h3>
				<div class="popover-content">
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="popover bottom">
				<div class="arrow"></div>
				<h3 class="popover-title">Popover bottom</h3>
				<div class="popover-content">
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				</div>
			</div>
		</div>

		<div class="col-xs-6">
			<div class="popover left">
				<div class="arrow"></div>
				<h3 class="popover-title">Popover left</h3>
				<div class="popover-content">
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
				</div>
			</div>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>