<%- include("../partials/header.ejs") %>
	<section class="row">
		<div class="col-md-12">
			<h4>Toggle card</h4>
		</div>

		<div class="col-xs-3">
			<div class="form-group">
				<label>
					<input class="toggle-card" type="checkbox" value="">

					<div class="toggle-card-container">
						<div class="toggle-card-cell">
							<div class="toggle-card-icon">
								<span class="icon-ok"></span>
							</div>

							<div class="toggle-card-label">
								<span>Regular Label</span>
							</div>
						</div>
					</div>
				</label>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="form-group">
				<label>
					<input class="toggle-card" type="checkbox" value="">

					<div class="toggle-card-container">
						<div class="toggle-card-cell">
							<div class="toggle-card-icon">
								<span class="icon-lock toggle-card-off"></span>
								<span class="icon-ok toggle-card-on"></span>
							</div>

							<div class="toggle-card-label">
								<span>Regular Label</span>
							</div>
						</div>
					</div>
				</label>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="form-group">
				<label>
					<input class="toggle-card" type="checkbox" value="">

					<div class="toggle-card-container">
						<div class="toggle-card-cell">
							<div class="toggle-card-icon">
								<span class="icon-lock toggle-card-off"></span>
								<span class="icon-ok toggle-card-on"></span>
							</div>

							<div class="toggle-card-label">
								<span class="toggle-card-off">labelOff</span>
								<span class="toggle-card-on">labelOn</span>
							</div>
						</div>
					</div>
				</label>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="form-group">
				<label>
					<input class="toggle-card" disabled type="checkbox" value="">

					<div class="toggle-card-container">
						<div class="toggle-card-cell">
							<div class="toggle-card-icon">
								<span class="icon-lock toggle-card-off"></span>
								<span class="icon-ok toggle-card-on"></span>
							</div>

							<div class="toggle-card-label">
								<span class="toggle-card-off">labelOff</span>
								<span class="toggle-card-on">labelOn</span>
							</div>
						</div>
					</div>
				</label>
			</div>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>