.lexicon-customizer-preview-box {
	overflow: auto;
	overflow-x: hidden;
	padding: 20px;
}

.lexicon-customizer-example {
	margin-bottom: 10px;
	position: relative;
}

.popover-example .popover {
	display: block;
	margin: 20px;
	position: relative;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	margin: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: #D0D0D0;
	border-radius: 10px;
}
