.lexicon-customizer-preview-box {
	overflow: auto;
	overflow-x: hidden;
	padding: 20px;
}

.lexicon-customizer-example {
	margin-bottom: 10px;
	position: relative;
}

.popover-example .popover {
	display: block;
	margin: 20px;
	position: relative;
}
