<html>

<head>
	<link href="${lexiconCssPath}" id="lexiconStylesheetLink" rel="stylesheet" />

	<% for(var i = 0; i < scripts.length; i++) { %>
		<script src="<%= scripts[i] %>"></script>
	<% } %>
</head>

<body class="lexicon-customizer-preview-box">
	<h3>Preview</h3>
