$card-border-width: 12px;
$card-divider-height: 1px;
$card-gutter-width: 15px;
$card-margin-bottom: $line-height-computed;
$card-bg: #FFF;
$card-border: green;
$card-border-radius: $border-radius-base;
$card-circle-border-radius: 20px;
$card-rounded-border-radius: 4px;
$card-square-border-radius: 0;
$card-divider-bg: $card-border;
