$timeline-border: $panel-inner-border;
$timeline-border-width: 8px;
$timeline-border-modifier: ceil($timeline-border-width / 2);
$timeline-icon-active-bg: blue;
$timeline-icon-active-border: $timeline-icon-active-bg;
$timeline-icon-bg: $body-bg;
$timeline-icon-border: $timeline-border;
$timeline-icon-border-radius: 50%;
$timeline-icon-border-width: 2px;
$timeline-icon-size: 10px;
$timeline-increment-label-color: $text-color;
$timeline-inner-spacing: 35px;
$timeline-outer-spacing: 20px;
$timeline-item-padding-bottom: 5px;
$timeline-item-padding-top: 5px;
