/* Dropdown */

.dropdown {
	position: relative;
	text-align: left;
	z-index: 20;

	.dropdown-options {
		background-color: #FFF;
		box-shadow: $basic-box-shadow;
		display: inline-block;
		display: none;
		min-width: 160px;
		position: absolute;
		z-index: 2;

		&.open {
			display: inline-block;
		}
	}

	.dropdown-option {
		a {
			color: $brand-primary;
			display: inline-block;
			padding: 10px;
			transition: background-color 300ms, color 300ms;
			width: 100%;

			.lexicon-icon {
				fill: $brand-primary;
				margin: 0 8px 0 0;
			}

			&:hover {
				background-color: $brand-primary;
				color: #FFF;

				.lexicon-icon {
					fill: #FFF;
				}
			}
		}

		&.disabled a {
			background-color: #FFF;
			color: #CCC;
			cursor: default;

			.lexicon-icon {
				fill: #CCC;
			}
		}
	}

	.dropdown-separator {
		border: 1px solid #DDD;
	}

	&.bottom .dropdown-options {
		left: 0;
		right: 0;
		top: 100%;
	}

	&.bottom-left .dropdown-options {
		right: 0;
		top: 100%;
	}

	&.bottom-right .dropdown-options {
		left: 0;
		top: 100%;
	}
}
