/* Error popup */

.error-popup-wrapper {
	background-color: #F2DEDE;
	border-radius: 4px;
	box-shadow: $basic-box-shadow;
	color: #A94442;
	left: 230px;
	position: absolute;
	right: 330px;
	top: 60px;
	z-index: 1;

	.error-popup-clear-btn {
		float: right;
		padding: 4px;

		svg {
			fill: #A94442;
		}

		&:hover {
			svg {
				fill: darken(#A94442, 20%);
			}
		}
	}

	.error-popup-list {
		max-height: 320px;
		overflow: auto;
	}

	.error-popup-item {
		padding: 10px;
		position: relative;
	}
}

.has-popout-preview .error-popup-wrapper {
	left: 327px;
	right: 20px;
}