/* Lexicon customizer */

.lexicon-customizer-header {
	background-color: #1F282F;
	box-shadow: 0 0 4px #222;
	border-bottom: 4px solid $brand-primary;
	color: #FFF;
	cursor: default;
	height: 50px;
	left: 0;
	padding: 8px 0 0 20px;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	transition: border-color 300ms;
	user-select: none;
	z-index: 3;
	-webkit-app-region: drag;

	.lexicon-customizer-header-title {
		font-size: 20px;
		font-weight: 100;
		text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	}
}

.lexicon-customizer[data-group="bootstrap"] .lexicon-customizer-header {
	border-color: $brand-secondary;
}

.lexicon-customizer-actions {
	float: right;
	margin-right: 20px;
}

.preview-box, .side-menu, .variables-editor {
	display: inline-block;
	position: relative;
}

.side-menu, .variables-editor {
	background-color: #F7F7F7;
	height: 100%;
}

.preview-box {
	bottom: 0;
	left: $side-menu-width;
	position: absolute;
	right: 320px;
	top: 50px;
}

.side-menu {
	border-right: 2px solid $brand-gray;
	overflow-y: scroll;
	padding: 12px;
	width: $side-menu-width;
}

.variables-editor {
	border-left: 2px solid $brand-gray;
	float: right;
	overflow: hidden;
	width: 320px;
}

.has-popout-preview {
	.side-menu {
		width: 30%;
	}

	.variables-editor {
		width: 70%;
	}
}

div.container {
	padding: 0;
	width: auto;
}

.lexicon-customizer-content {
	height: 100vh;
	overflow: hidden;
	padding-top: 50px;
}

.loading-container {
	text-align: center;

	.loading-label {
		font-size: 16px;
		margin-top: 40px;
	}
}
