<%- include("../partials/header.ejs") %>
	<section class="row">
		<div class="col-md-12">
			<h4>Breadcrumb Horizontal</h4>

			<ol class="breadcrumb">
				<li><a href="javascript:;">Home</a></li>
				<li><a href="javascript:;">Library</a></li>
				<li class="active">Data</li>
			</ol>
		</div>

		<div class="col-md-12">
			<h4>Breadcrumb Vertical</h4>

			<ul class="breadcrumb breadcrumb-vertical">
				<li><a href="#">Home</a></li>
				<li><a href="#">Components</a></li>
				<li><a href="#">Breadcrumbs and Paginations</a></li>
				<li><a href="#">Page</a></li>
				<li class="active">
					<span>Active</span>
				</li>
			</ul>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>
