<%- include("../partials/header.ejs") %>
	<section class="row">
		<div class="col-md-12">
			<h4>Default state</h4>

			<button class="btn btn-default" type="button">Default</button>
			<button class="btn btn-primary" type="button">Primary</button>
			<button class="btn btn-info" type="button">Info</button>
			<button class="btn btn-success" type="button">Success</button>
			<button class="btn btn-warning" type="button">Warning</button>
			<button class="btn btn-danger" type="button">Danger</button>
			<button class="btn btn-link" type="button">Link</button>
		</div>

		<div class="col-md-12">
			<h4>Active state</h4>

			<button class="active btn btn-default" type="button">Default</button>
			<button class="active btn btn-primary" type="button">Primary</button>
			<button class="active btn btn-info" type="button">Info</button>
			<button class="active btn btn-success" type="button">Success</button>
			<button class="active btn btn-warning" type="button">Warning</button>
			<button class="active btn btn-danger" type="button">Danger</button>
			<button class="active btn btn-link" type="button">Link</button>
		</div>

		<div class="col-md-12">
			<h4>Disabled state</h4>

			<button class="btn btn-default" disabled="disabled" type="button">Default</button>
			<button class="btn btn-primary" disabled type="button">Primary</button>
			<button class="btn btn-info" disabled type="button">Info</button>
			<button class="btn btn-success" disabled type="button">Success</button>
			<button class="btn btn-warning" disabled type="button">Warning</button>
			<button class="btn btn-danger" disabled type="button">Danger</button>
			<button class="btn btn-link" disabled type="button">Link</button>
		</div>

		<div class="col-md-12">
			<h4>Sizes</h4>

			<button class="btn btn-default btn-xs" type="button">Extra Small</button>
			<button class="btn btn-default btn-sm" type="button">Small</button>
			<button class="btn btn-default" type="button">Default</button>
			<button class="btn btn-default btn-lg" type="button">Large</button>
		</div>

		<div class="col-md-12">
			<h4>Action button</h4>

			<a class="btn btn-primary btn-action" href="javascript:;">Add</a>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>