<%- include("../partials/header.ejs") %>
	<section class="row">
		<div class="col-md-12">
			<h4>&lt;code&gt;</h4>

			Lorem ipsum dolor sit amet, <code>&lt;section&gt;</code> consectetur adipiscing elit.
		</div>

		<div class="col-md-12">
			<h4>&lt;kbd&gt;</h4>

			Ut scelerisque faucibus odio sit amet pharetra <kbd>command</kbd> Donec turpis erat.<br>

			Donec quis sagittis arcu, risus <kbd><kbd>ctrl</kbd> + <kbd>c</kbd></kbd>
		</div>

		<div class="col-md-12">
			<h4>&lt;pre&gt;</h4>

			<pre>&lt;p&gt;Lorem ipsum...&lt;/p&gt;</pre>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>