<%- include("../partials/header.ejs") %>
	<section class="row">
		<div class="col-md-12">
			<h4>Pager</h4>

			<nav>
				<ul class="pager">
					<li class="previous"><a href="#">&larr; Older</a></li>
					<li class="active next"><a href="#">Newer &rarr;</a></li>
				</ul>
			</nav>
		</div>

		<div class="col-md-12">
			<h4>Disabled pager</h4>

			<nav>
				<ul class="pager">
					<li class="disabled previous"><a href="#">&larr; Older</a></li>
					<li class="disabled active next"><a href="#">Newer &rarr;</a></li>
				</ul>
			</nav>
		</div>

		<div class="col-md-12">
			<h4>Disabled sizes</h4>

			<div>
				<h5>pager-sm</h5>

				<nav>
					<ul class="pager pager-sm">
						<li class="previous"><a href="#">&larr; Older</a></li>
						<li class="active next"><a href="#">Newer &rarr;</a></li>
					</ul>
				</nav>
			</div>

			<div>
				<h5>pager-lg</h5>

				<nav>
					<ul class="pager pager-lg">
						<li class="previous"><a href="#">&larr; Older</a></li>
						<li class="active next"><a href="#">Newer &rarr;</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>