<%- include("../partials/header.ejs") %>
	<section class="row">
		<div class="col-md-12">
			<div class="lexicon-customizer-example">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="javascript:;">Home</a></li>
					<li role="presentation"><a href="javascript:;">Profile</a></li>
					<li role="presentation"><a href="javascript:;">Messages</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-12">
			<div class="lexicon-customizer-example">
				<ul class="nav nav-tabs nav-stacked">
					<li role="presentation" class="active"><a href="javascript:;">Home</a></li>
					<li role="presentation"><a href="javascript:;">Profile</a></li>
					<li role="presentation"><a href="javascript:;">Messages</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-12">
			<div class="lexicon-customizer-example">
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation" class="active"><a href="javascript:;">Home</a></li>
					<li role="presentation"><a href="javascript:;">Profile</a></li>
					<li role="presentation"><a href="javascript:;">Messages</a></li>
				</ul>
			</div>
		</div>
	</section>
<%- include("../partials/footer.ejs") %>